numpy >= 2.3.1
opencv-python >= 4.11
joblib >= 1.5.1
scikit-learn >= 1.7
scikit-image >= 0.25
scipy >= 1.16
matplotlib >= 3.10
seaborn >= 0.13
pyyaml >= 6.0
xgboost >= 3.0
cupy >= 13.5
lightgbm >= 4.6
codecarbon >= 3.0